@page "/todoList"
@using TodoListBlazorWasm.Components
@using global::TodoList.Models.Enums

<PageTitle>TodoList</PageTitle>

<h1>Todo List</h1>

@if (TodoItems == null || Assignees == null)
{
    PreloadService.Show(SpinnerColor.Primary, "Loading...");
}
else
{
    PreloadService.Hide();

    <div class="row">
        <EditForm Model="@SearchRequest" OnSubmit=@SearchForm>
            <div class="row">
                <div class="col">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="SearchRequest.Name"></InputText>
                </div>

                <div class="col">
                    <label>Assignee</label>
                    <InputSelect class="form-select" @bind-Value="SearchRequest.AssigneeId">
                        <option value="">Select</option>
                        @foreach (var assignee in Assignees)
                        {
                            @if (!string.IsNullOrEmpty(assignee.Name))
                            {
                                <option value="@assignee.Id">@assignee.Name</option>
                            }
                        }
                    </InputSelect>
                </div>

                <div class="col">
                    <label>Priority</label>
                    <InputSelect class="form-select" @bind-Value="SearchRequest.Priority">
                        <option value="">Select</option>
                        @foreach (var item in Enum.GetNames(typeof(Priority)))
                        {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>
                </div>

                <div class="col pt-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

                <div class="col pt-4">
                    <a href="/todoItemCreate" class="btn btn-success">Create</a>
                </div>
            </div>
        </EditForm>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Assignee</th>
                <th>Create Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TodoItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><PriorityLabel Priority="@item.Priority"></PriorityLabel></td>
                    <td>@item.AssigneeName</td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyy hh:mm")</td>
                    <td><StatusLabel Status="@item.Status"></StatusLabel></td>
                    <td>
                        <a href="/taskDetails/@item.Id">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
