@page "/todoItem/{Id}"
@using TodoListBlazorWasm.Services
@using global::TodoList.Models

@inject ITodoItemApiClient Http
@inject IConfiguration Configuration

<h3>Todo Item Detail @Id</h3>

@if (todoItem == null)
{
	<div class="spinner-border center" role="status"></div>
}
else
{
    <table class="table">
        <tr>
			<td>Name</td>
            <td>@todoItem.Name</td>
        </tr>
		<tr>
			<td>Assignee</td>
			<td>@todoItem.AssigneeName</td>
		</tr>
		<tr>
			<td>Priority</td>
			<td>@todoItem.Priority</td>
		</tr>
		<tr>
			<td>Created date</td>
			<td>@todoItem.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>@todoItem.Status</td>
		</tr>
    </table>
}

@code {

	[Parameter]
	public string Id { get; set; }

	private TodoItemDto todoItem { get; set; }

	protected override async Task OnInitializedAsync()
	{
		todoItem = await Http.GetTodoItem(Id);
	}
}
